<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forever.meddie">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pid_logo"
        android:label="Meddie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.PasswordActivity"></activity>
        <activity android:name=".Activities.RegisterFireActivity" />
        <activity android:name=".Activities.LoginFireActivity" />
        <activity android:name=".Activities.DisplayPrescription" />
        <activity android:name=".Activities.ShowPrescriptionsDemo" />
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.splashscreen" />
        <activity android:name=".Activities.dashboard" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.DoctorListActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.DoctorDetailsActivity" />
        <activity android:name=".Activities.AddPrescription" />
        <activity android:name=".Activities.MedicalListActivity" />
        <activity
            android:name=".Activities.AddDoctorActivity"
            android:noHistory="true" />
        <activity android:name=".Activities.ShowPrescriptionActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

</manifest>